.box {
    margin: 0 auto;
    width: 200px;
    height: 240px;
    border: 2px solid indigo;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
}

.box:hover {
    transform: scale(2);
}

.item {
    width: 1300px;
    height: 399px;
    border: 20px solid red;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

